@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  background-color: #fff;
  border-bottom: 1px solid #BEBCBD;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 0;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__list-item:not(:last-child) {
    margin-right: 40px;
  }

  &__list-link {
    color: #807D7E;
    @extend %poppins-500;
    font-size: 18px;
    line-height: normal;
  }

  &__form-label {
    position: relative;

    & svg {
      width: 20px;
      height: 20px;
      fill: #807D7E;
      stroke-width: 2px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
    }
  }

  &__form-input {
    padding: 12px 20px 12px 52px;
    border-radius: 8px;
    background-color: #F6F6F6;
    border: none;
    color: #000;
    @extend %poppins-500;
    font-size: 16px;
    line-height: normal;
    width: 267px;

    &::placeholder {
      color: #807D7E;
      @extend %poppins-500;
      font-size: 16px;
      line-height: normal;
    }
  }

  &__user-nav {
    display: flex;
  }

  &__user-btn {
    padding: 12px;
    border-radius: 8px;
    background: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;

    & svg {
      width: 20px;
      height: 20px;
      stroke: #807D7E;
      fill: transparent;
      stroke-width: 1.5px;
      transition: stroke 0.3s ease-in-out;
    }

    &:not(:last-child) {
      margin-right: 12px;
    }

    &:hover {
      background-color: #8434E1;
    }

    &:hover svg {
      stroke: #fff;
    }

    &--active {
      background-color: #8434E1;

      & svg {
        stroke: #fff;
      }
    }

  }
}

.promo {
  padding-bottom: 130px;

  &__slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__inner {
    padding: 130px 106px;
  }

  &__content {
    max-width: 439px;
  }

  &__subtitle {
    color: #FFF;
    font-size: 32px;
    @extend %poppins-500;
    line-height: 37.771px;
    letter-spacing: 0.157px;
    text-transform: capitalize;
    margin-bottom: 40px;
    display: inline-block;
  }

  &__title {
    color: #FFF;
    font-size: 76px;
    @extend %poppins-800;
    line-height: 93.622px;
    letter-spacing: 0.315px;
    margin-bottom: 40px;
  }

  &__tags {
    color: #FFF;
    font-size: 32px;
    @extend %poppins-500;
    line-height: 47.214px;
    letter-spacing: 0.315px;
    margin-bottom: 40px;
    display: inline-block;
  }

  &__link {
    color: #3C4242;
    font-size: 24px;
    @extend %poppins-700;
    line-height: normal;
    padding: 16px 72px;
    border-radius: 8px;
    background-color: #FFF;
    display: inline-block;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:hover {
      background-color: #345EFF;
      color: #fff;
    }
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;

    & svg {
      width: 24px;
      height: 45px;
      fill: #fff;
    }
  }

  .slick-prev {
    transform: scale(-1, 1);
    left: 40px;
  }

  .slick-next {
    right: 40px;
  }

  .slick-dots {
    display: flex;
    position: absolute;
    bottom: 73px;
    left: 50%;
    transform: translateX(-50%);

    & li {
      line-height: 0;

      &:not(:last-child) {
        margin-right: 1px;
      }
    }

    & button {
      padding: 0;
      width: 62px;
      height: 10px;
      background-color: #fff;
      opacity: 0.5;
      font-size: 0;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
      transition: opacity 0.3s;
    }

    #slick-slide-control01,
    #slick-slide-control03 {
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .slick-active button {
      opacity: 1;
    }
  }
}

.preview {
  padding-bottom: 100px;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list-item {
    background-repeat: no-repeat;
    background-size: 605px 355px;
    background-position: center;
    max-width: 605px;
    width: 100%;
    padding: 67px 28px 80px 28px;
    border-radius: 12px;
  }

  &__name {
    color: #FFF;
    @extend %poppins-800;
    font-size: 18px;
    line-height: 30.067px;
    letter-spacing: 0.251px;
    display: inline-block;
    margin-bottom: 24px;
  }

  &__title {
    color: #FFF;
    @extend %poppins-800;
    font-size: 34px;
    line-height: 45.1px;
    margin-bottom: 10px;
    max-width: 246px;
  }

  &__discount {
    color: #FFF;
    @extend %poppins-500;
    font-size: 16px;
    line-height: 25.056px;
    letter-spacing: 0.251px;
    margin-bottom: 41px;
    display: block;
  }

  &__link {
    color: #FFF;
    @extend %poppins-800;
    font-size: 20px;
    line-height: 30.132px;
    text-decoration-line: underline;
    display: inline-block;
  }
}

.arrival {
  padding-bottom: 95px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.commercial {
  padding-bottom: 100px;

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }

  &__list-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 400px;
    width: 100%;
    border-radius: 12px;
    padding: 64px 20px 64px 20px;

    &:nth-child(1) {
      grid-column: span 2;
    }

    &:nth-child(2) {
      grid-column: span 2;
      position: relative;
      padding: 102px 25px 41px 25px;

      &::after {
        content: 'Limited Stock';
        position: absolute;
        padding: 8px 16px;
        color: #FFF;
        font-size: 12px;
        @extend %poppins-700;
        line-height: normal;
        border-radius: 4px;
        background-color: #3C4242;
        top: 25px;
        right: 25px;
      }

      .commercial__list-content {
        margin-left: auto;
        max-width: 153px;
      }

      .commercial__list-title,
      .commercial__list-text,
      .commercial__list-discount,
      .commercial__list-link {
        color: #3C4242;
      }

      .commercial__list-link {
        border: 1px solid #3C4242;
      }

      .commercial__list-discount::after {
        background-image: url('../images/icons/arrow-card-black.svg');
      }
    }

    &:nth-child(3) {
      grid-column: span 2;
      padding: 64px 17px;

      .commercial__list-content {
        margin-left: auto;
        max-width: 153px;
      }
    }

    &:nth-child(4) {
      grid-column: span 3;
      max-width: 610px;
      padding: 65px 75px 45px 30px;

      .commercial__list-content {
        margin-left: auto;
        max-width: 153px;
      }

      .commercial__list-title,
      .commercial__list-text,
      .commercial__list-discount,
      .commercial__list-link {
        color: #3C4242;
      }

      .commercial__list-link {
        border: 1px solid #3C4242;
      }

      .commercial__list-discount::after {
        background-image: url('../images/icons/arrow-card-black.svg');
      }
    }

    &:nth-child(5) {
      grid-column: span 3;
      max-width: 610px;
      padding: 65px 120px 45px 30px;

      .commercial__list-content {
        margin-left: auto;
        max-width: 153px;
      }

      .commercial__list-title,
      .commercial__list-text,
      .commercial__list-discount,
      .commercial__list-link {
        color: #3C4242;
      }

      .commercial__list-link {
        border: 1px solid #3C4242;
      }

      .commercial__list-discount::after {
        background-image: url('../images/icons/arrow-card-black.svg');
      }
    }
  }

  &__list-title {
    color: #FFF;
    font-size: 28px;
    @extend %poppins-600;
    line-height: 38.431px;
    letter-spacing: 0.56px;
    max-width: 134px;
    margin-bottom: 10px;
  }

  &__list-text {
    color: #FFF;
    @extend %poppins-600;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 10px;
  }

  &__list-discount {
    color: #FFF;
    @extend %poppins-700;
    font-size: 18px;
    line-height: normal;
    display: block;
    padding-bottom: 52px;
    margin-bottom: 40px;
    position: relative;
    max-width: 130px;

    &::after {
      content: '';
      width: 24px;
      height: 26px;
      position: absolute;
      background-image: url('../images/icons/arrow-card.svg');
      background-position: center;
      background-repeat: no-repeat;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__list-link {
    color: #FFF;
    font-size: 12px;
    @extend %poppins-500;
    line-height: normal;
    border-radius: 4px;
    border: 1px solid #FFF;
    padding: 6px 30px;
    display: inline-block;
  }
}

.adv {
  padding-bottom: 100px;

  &__inner {
    display: flex;
  }

  &__item {
    padding: 175px 75px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 613px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }

  &__content {
    max-width: 466px;
  }

  &__title {
    color: #FFF;
    @extend %poppins-800;
    font-size: 34px;
    line-height: 50px;
    letter-spacing: 0.208px;
    margin-bottom: 30px;
  }

  &__text {
    color: #FFF;
    font-size: 20px;
    @extend %poppins-300;
    line-height: normal;
    letter-spacing: 1px;
    margin-bottom: 50px;
  }

  &__link {
    padding: 12px 44px;
    border-radius: 8px;
    background-color: #FFF;
    color: #3C4242;
    font-size: 18px;
    @extend %poppins-600;
    line-height: normal;
    display: inline-block;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:hover {
      background-color: #3C4242;
      color: #fff;
    }
  }

  &__img {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}

.men-categories {
  padding-bottom: 100px;

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
  }
}

.women-categories {
  padding-bottom: 100px;

  &__list {
    display: flex;
    align-items: center;
    column-gap: 50px;
  }
}

.brands {
  padding-bottom: 100px;

  &__inner {
    text-align: center;
    border-radius: 12px;
    border: 1px solid #323232;
    background-color: #3C4242;
    padding: 44px 0;
  }

  &__title {
    color: #FFF;
    @extend %poppins-800;
    font-size: 50px;
    line-height: normal;
    margin-bottom: 26px;
  }

  &__discount {
    color: #FFF;
    @extend %poppins-400;
    font-size: 22px;
    line-height: normal;
    margin-bottom: 68px;
    display: block;

    & span {
      color: #FBD103;
      @extend %poppins-700;
      font-size: 22px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list-item {
    border-radius: 12px;
    background-color: #FFF;

    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__list-img {
    padding: 14px 15px;
    width: 149px;
    height: 80px;
  }
}

.popular {
  padding-bottom: 100px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.reviews {
  padding-bottom: 100px;

  &__list {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
  }

  &__list-item {
    border-radius: 10px;
    border: 1.8px solid #BEBCBD;
    padding: 23px;
    max-width: 397px;
    min-height: 369px;
  }

  &__user {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__user-name {
    color: #3C4242;
    @extend %poppins-500;
    font-size: 22px;
    line-height: normal;
    letter-spacing: 0.44px;
    margin-bottom: 20px;
    display: inline-block;
  }

  &__list-text {
    @extend %poppins-400;
    color: #807D7E;
    text-overflow: ellipsis;
    font-size: 14px;
    letter-spacing: 0.28px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;

    & li {
      line-height: 0;
      font-size: 0;
      transition: background-color 0.3s ease-in-out;
      border-radius: 50%;

      &:not(:last-child) {
        margin-right: 4px;
      }
    }

    & button {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: rgba(190, 188, 189, 0.30);
    }

    .slick-active {
      background-color: #3C4242;
      border-radius: 50%;
    }
  }
}

.footer {
  background-color: #3C4242;

  &__inner {
    padding: 59px 0;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 76px;
  }

  &__nav-list:not(:last-child) {
    margin-right: 80px;
  }

  &__nav-title {
    color: #F6F6F6;
    @extend %poppins-700;
    font-size: 29px;
    line-height: 217%;
  }

  &__nav-link {
    color: #F6F6F6;
    @extend %poppins-500;
    font-size: 18px;
    line-height: 217%;
  }

  &__nav-address {
    color: #F6F6F6;
    @extend %poppins-500;
    font-size: 18px;
    line-height: 217%;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 41px;
  }

  &__socials-list {
    display: flex;
    align-items: center;
  }

  &__socials-item:not(:last-child) {
    margin-right: 10px;
  }

  &__socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 11px;
    background-color: #F6F6F6;
    width: 37px;
    height: 37px;
    transition: background-color 0.3s ease-in-out;

    & svg {
      width: 16px;
      height: 16px;
      fill: #2A2F2F;
      transition: fill 0.3s ease-in-out;
    }

    &:hover {
      background-color: #2A2F2F;
    }

    &:hover svg {
      fill: #fff;
    }
  }

  &__app-title {
    color: #F6F6F6;
    @extend %poppins-700;
    font-size: 29px;
    line-height: 217%;
    margin-bottom: 20px;
    display: inline-block;
  }

  &__app-links {
    display: flex;
  }

  &__app-link:not(:last-child) {
    margin-right: 21px;
  }

  &__slide-toggle {
    border-top: 1px solid #BEBCBD;
    border-bottom: 1px solid #BEBCBD;
    margin-bottom: 37px;
  }

  &__categories {
    color: #F6F6F6;
    @extend %poppins-700;
    font-size: 29px;
    line-height: 200%;
    padding: 30px 0;
    display: block;
    position: relative;
    cursor: pointer;

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 2px;
      height: 16px;
      background-color: #F6F6F6;
      top: 47%;
      transition: transform 0.3s ease-in-out;
    }

    &::after {
      transform: rotate(-45deg);
      right: 42px;
    }

    &::before {
      transform: rotate(45deg);
      right: 32px;
    }

    &--active {
      border-bottom: transparent;
      margin-bottom: 0;
    }

    &--active::before {
      transform: rotate(135deg);
    }

    &--active::after {
      transform: rotate(-135deg);
    }
  }

  &__categories-list {
    display: none;
    padding-bottom: 30px;
  }

  &__categories-link {
    color: #F6F6F6;
    @extend %poppins-500;
    font-size: 18px;
    line-height: 217%;
  }

  &__copyright {
    color: #FFF;
    @extend %poppins-700;
    font-size: 18px;
    line-height: 200%;
    text-align: center;
  }
}

.women-product {
  padding-bottom: 100px;

  &__inner {
    display: flex;
  }

}

.filters {
  border-radius: 0px 0px 2px 2px;
  border-right: 1px solid #BEBCBD;
  border-bottom: 1px solid #BEBCBD;
  border-left: 1px solid #BEBCBD;
  max-width: 295px;
  width: 100%;
  margin-right: 50px;

  &__name {
    color: #807D7E;
    @extend %poppins-600;
    font-size: 22px;
    line-height: normal;
    letter-spacing: 0.44px;
    padding: 20px 30px;
    border-top: 1px solid #BEBCBD;
    border-bottom: 1px solid #BEBCBD;
    position: relative;

    &--first {
      border-top: 0px solid #BEBCBD;
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 2px;
      height: 10px;
      background-color: #807D7E;
      top: 41%;
      transition: transform 0.3s ease-in-out;
    }

    &::after {
      transform: rotate(45deg);
      right: 35px;
    }

    &::before {
      transform: rotate(-45deg);
      right: 42px;

    }

    &--active::before {
      transform: rotate(-135deg);
    }

    &--active::after {
      transform: rotate(135deg);
    }

  }

  &__list {
    padding: 40px 34px;
  }

  &__list-item {
    color: #8A8989;
    @extend %poppins-600;
    font-size: 16px;
    line-height: normal;

    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
}

.filter-price {

  &__form {
    padding: 40px 35px;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__pref {
    border-radius: 8px;
    border: 1px solid #BEBCBD;
    padding: 7px 25px;
    color: #3C4242;
    @extend %poppins-500;
    font-size: 16px;
    line-height: normal;
    display: block;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .irs--flat .irs-handle>i:first-child {
    position: absolute;
    display: block;
    top: -3px;
    left: 50%;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-left: -1px;
    background-color: #8A33FD;
  }


  .irs-line {
    border-radius: 4px;
    opacity: 0.6;
    background: #807D7E;
    width: 225px;
    height: 3px;
  }

  .irs-bar {
    border-radius: 4px;
    background: #8A33FD;
    height: 3px;
  }

  .irs {
    margin-bottom: 20px;
  }

  .irs-min,
  .irs-max,
  .irs-from,
  .irs-to {
    display: none;
  }

  .irs-single {
    display: none;
  }
}

.filter-colors {

  &__form {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    padding: 40px 35px;
  }

  &__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 55px;
  }


  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;

    &:checked+.filter-colors__checkbox::before {
      display: block;
    }
  }

  &__checkbox {
    display: block;
    width: 37px;
    height: 37px;
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    &::before {
      content: '';
      position: absolute;
      width: 45px;
      height: 45px;
      border-radius: 12px;
      border: 1px solid #000;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: none;
    }

    &--purple {
      background-color: #8434E1;
    }

    &--black {
      background-color: #000;
    }

    &--red {
      background-color: #F35528;
    }

    &--orange {
      background-color: #F16F2B;
    }

    &--navy {
      background-color: #345EFF;
      ;
    }

    &--white {
      background-color: #FFF;
      border: 1px solid #F4F1F1;
    }

    &--broom {
      background-color: #D67E3B;
    }

    &--green {
      background-color: #48BC4E;
    }

    &--yellow {
      background-color: #FDC761;
    }

    &--grey {
      background-color: #E4E5E8;
    }

    &--pink {
      background-color: #E08D9D;
    }

    &--blue {
      background-color: #3FDEFF;
    }
  }

  &__color {
    color: #8A8989;
    @extend %poppins-600;
    font-size: 14px;
    line-height: normal;
  }
}

.filters-size {

  &__form {
    padding: 40px 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;

    &:checked+.filters-size__checkbox {
      background-color: #3C4242;
      color: #fff;
    }
  }

  &__checkbox {
    color: #3C4242;
    @extend %poppins-600;
    font-size: 14px;
    line-height: normal;
    width: 61px;
    padding: 7px 17px;
    border-radius: 8px;
    border: 1px solid #BEBCBD;
    display: block;
    text-align: center;
  }
}

.filters-style {

  &__list {
    padding: 40px 35px;
  }

  &__item {
    color: #8A8989;
    @extend %poppins-600;
    font-size: 16px;
    line-height: normal;

    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
}

.shop-card {
  width: 100%;
  padding-top: 50px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  &__title {
    color: #3F4646;
    @extend %poppins-600;
    font-size: 22px;
    line-height: normal;
  }

  &__button {
    color: #3F4646;
    @extend %poppins-600;
    font-size: 22px;
    line-height: normal;

    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__btns {
    display: flex;
  }

  &__button {

    &--active {
      color: #8A33FD;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
  }

  &__list-recommended {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;

    &--active {
      display: grid;
    }
  }
}

.product-content {
  padding-bottom: 100px;

  &__text {
    color: #807D7E;
    @extend %poppins-400;
    font-size: 20px;
    line-height: 33.5px;
    letter-spacing: 0.4px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    color: #807D7E;
    @extend %poppins-600;
    font-size: 20px;
    line-height: 33.5px;
    letter-spacing: 0.4px;
    margin-bottom: 25px;
  }

  &__link {
    color: #807D7E;
    font-size: 20px;
    @extend %poppins-600;
    line-height: 33.5px;
    letter-spacing: 0.4px;
  }
}

.cloth-price {
  padding-bottom: 100px;

  &__table {
    padding: 25px 66px 50px 84px;
    border-radius: 12px;
    background-color: #F6F6F6;
  }

  &__table-title {
    width: 100%;
    text-align: left;
    color: #3C4242;
    @extend %poppins-600;
    font-size: 22px;
    line-height: 33.5px;
    letter-spacing: 0.48px;
    padding: 25px 15px 25px 15px;
    border-bottom: 1px solid #BEBCBD;

    & span {
      display: block;
      width: 121px;
    }

    &:nth-child(2) {
      padding-left: 30px;
      border-left: 1px solid #BEBCBD;
    }
  }

  &__box {
    display: block;
    margin-bottom: 50px;
  }

  &__tr {
    transition: background-color 0.3s ease-in-out;


    &:not(:first-child):hover {
      background-color: #FFFAFA;
    }
  }


  &__td {
    padding: 25px 15px;
    color: #807D7E;
    @extend %poppins-400;
    font-size: 24px;
    line-height: 16px;
    letter-spacing: 0.48px;
  }

  &__cost {
    border-left: 1px solid #BEBCBD;
    padding: 25px 15px;
    color: #807D7E;
    @extend %poppins-400;
    font-size: 24px;
    line-height: 16px;
    letter-spacing: 0.48px;
    text-align: center;
  }
}

.product {
  background-color: #F6F6F6;
}

.product-item {
  display: flex;

  &__slide {
    width: 630px;
    margin-right: 74px;
  }

  &__content {
    padding: 30px 0 0 0;
    max-width: 534px;
    width: 100%;
  }
}

.product-slide {
  display: flex;

  &__wrapper {
    align-self: center;
  }

  &__thumb {
    width: 68px;
    margin-right: 37px;
  }

  &__thumb-item {
    width: 68px;
    height: 68px;
    margin-bottom: 23px;

    & img {
      width: 68px;
      height: 68px;
      object-fit: cover;
    }
  }

  &__big {
    width: 520px;

    & img {
      width: 520px;
      height: 785px;
      object-fit: cover;
    }
  }

  &__arrows {
    display: flex;
    flex-direction: column;
  }

  .slick-arrow {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    align-self: center;
    margin-right: 38px;
    transition: background-color 0.3s ease-in-out;

    & svg {
      width: 20px;
      height: 10px;
      transition: fill 0.3s ease-in-out;
    }

    &:focus {
      background-color: #3C4242;
    }

    &:focus svg {
      fill: #fff;
    }
  }

  .slick-next {
    transform: scale(1, -1);
    margin-top: 12px;
  }
}

.product-main {
  max-height: 572px;

  &__breadcrumbs {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
  }

  &__breadcrumbs-item {
    position: relative;

    &:not(:last-child) {
      padding-right: 20px;
      margin-right: 15px;

      &::after {
        content: '';
        position: absolute;
        width: 5px;
        height: 10px;
        background-image: url('../images/icons/breadcrumbs-arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__breadcrumbs-link {
    color: #807D7E;
    @extend %poppins-500;
    font-size: 18px;
    line-height: normal;

    &--last {
      color: #000;
    }
  }

  &__title {
    color: #3C4242;
    @extend %poppins-600;
    font-size: 34px;
    line-height: 140%;
    letter-spacing: 0.68px;
    margin-bottom: 35px;
  }

  &__grade-box {
    display: flex;
    align-items: center;
    max-width: 390px;
    margin-bottom: 35px;
  }

  &__grade-link {
    color: #807D7E;
    @extend %poppins-500;
    font-size: 18px;
    line-height: normal;
    position: relative;
    padding-left: 35px;

    &::after {
      content: '';
      position: absolute;
      width: 24px;
      height: 20px;
      background-image: url('../images/icons/comment-icon.svg');
      background-repeat: no-repeat;
      background-position: center;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__grade-num {
    color: #807D7E;
    @extend %poppins-500;
    font-size: 18px;
    line-height: normal;
    margin-right: 25px;
    margin-left: 15px;
  }

  &__size-box {
    margin-bottom: 35px;
  }

  &__size-form {
    max-width: 290px;
    display: flex;
  }

  &__size-btns {
    margin-bottom: 25px;
  }

  &__size-btn {
    color: #807D7E;
    @extend %poppins-500;
    font-size: 18px;
    line-height: normal;

    &:first-child {
      margin-right: 20px;
    }
  }

  &__size-label {

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
    margin-left: 30px;
    margin-bottom: 10px;

    &:checked+.product-main__checkbox {
      background-color: #3C4242;
      color: #fff;
      border: 1.5px solid transparent;
    }
  }

  &__checkbox {
    color: #3C4242;
    text-align: center;
    @extend %poppins-500;
    font-size: 14px;
    line-height: normal;
    border-radius: 12px;
    border: 1.5px solid #BEBCBD;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__color-box {
    margin-bottom: 36px;
  }

  &__color-title {
    color: #3F4646;
    @extend %poppins-600;
    font-size: 18px;
    line-height: normal;
    margin-bottom: 25px;
  }

  &__color-form {
    display: flex;
  }

  &__color-label {

    &:not(:last-child) {
      margin-right: 24px;
    }

  }

  &__color-input {
    clip: rect(0 0 0 0);
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;

    &:checked+.product-main__color-checkbox::after {
      border: 1.5px solid #000;
    }
  }

  &__color-checkbox {
    width: 22px;
    height: 22px;
    position: relative;
    display: block;
    border-radius: 50%;

    &--black {
      background-color: #3C4242;
    }

    &--yellow {
      background-color: #EDD146;
    }

    &--pink {
      background-color: #EB84B0;
    }

    &--burgundy {
      background-color: #9C1F35;
    }

    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      border: 1.5px solid transparent;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }
  }

  &__basket {
    padding-bottom: 37px;
    border-bottom: 1px solid #BEBCBD;
    margin-bottom: 40px;
  }

  &__btn {
    color: #FFF;
    @extend %poppins-500;
    font-size: 18px;
    padding: 12px 40px 12px 72px;
    background-color: #8A33FD;
    line-height: normal;
    border-radius: 8px;
    position: relative;
    margin-right: 25px;

    & svg {
      width: 20px;
      height: 20px;
      position: absolute;
      left: 40px;
      top: 50%;
      transform: translateY(-50%);
      stroke: #fff;
      fill: none;
      stroke-width: 1.5;
    }
  }

  &__cost {
    color: #3C4242;
    text-align: center;
    @extend %poppins-700;
    font-size: 18px;
    line-height: normal;
    padding: 12px 40px;
    border-radius: 8px;
    border: 1px solid #3C4242;
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 48px;
  }

  &__info-item {
    position: relative;
    padding-left: 59px;
    color: #3C4242;
    @extend %poppins-500;
    font-size: 15px;
    line-height: normal;

    &::after {
      content: '';
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      width: 15px;
      height: 15px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 15px 15px;
    }

    &--payment::after {
      background-image: url('../images/icons/payment-icon.svg');
    }

    &--size::after {
      background-image: url('../images/icons/size-icon.svg');
    }

    &--truck::after {
      background-image: url('../images/icons/truck-icon.svg');
    }

    &--shipping::after {
      background-image: url('../images/icons/shipping-icon.svg');
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 44px;
      height: 44px;
      background-color: #fff;
      border-radius: 50%;
    }
  }
}

.product-description {
  padding: 100px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    max-width: 610px;
  }

  &__controll {
    margin-bottom: 37px;
  }

  &__btns {
    display: flex;
    margin-bottom: 30px;
  }

  &__btn {
    color: #807D7E;
    @extend %poppins-400;
    font-size: 18px;
    line-height: normal;
    position: relative;
    display: inline-block;
    padding-bottom: 20px;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &:not(:first-child) {
      padding-right: 35px;
    }

    &--active {
      color: #3C4242;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 43px;
        height: 2px;
        background-color: #000;
      }
    }
  }

  &__num {
    color: #FFF;
    font-size: 10px;
    @extend %poppins-500;
    line-height: normal;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 4px;

    &--comments {
      background-color: #8A33FD;
    }

    &--question {
      background-color: #3C4242;
    }
  }

  &__text {
    color: #807D7E;
    @extend %poppins-400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.32px;
    display: none;

    &--active {
      display: block;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 12px;
    background-color: #F6F6F6;
  }

  &__item {
    padding: 24px 50px;
    display: flex;
    align-items: center;
    justify-content: centers;

    &:nth-child(1) {
      border-bottom: 1px solid #BEBCBD;
    }

    &:nth-child(2) {
      border: 1px solid #BEBCBD;
      border-top: none;
    }

    &:nth-child(3) {
      border-bottom: 1px solid #BEBCBD;
    }

    &:nth-child(5) {
      border-left: 1px solid #BEBCBD;
      border-right: 1px solid #BEBCBD;
    }
  }

  &__item-name {
    display: block;
    margin-bottom: 12px;
    color: #807D7E;
    @extend %poppins-400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.32px;
  }

  &__item-info {
    color: #3C4242;
    @extend %poppins-500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    display: block;
  }

  &__video-link {
    max-width: 532px;
    height: 328px;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    z-index: 10;
    padding: 27px 0;

    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/icons/play-icon.svg');
      width: 53px;
      height: 53px;
      transition: transform 0.3s ease-in-out;
      z-index: 2;
    }

    &::before {
      content: '';
      inset: 0;
      position: absolute;
      border-radius: 12px;
      opacity: 0.4;
      background: #3C4242;
      z-index: -1;
    }

    &:hover {

      &::after {
        transform: scale(1.5);
      }

    }
  }

  &__video-time {
    color: #FFF;
    @extend %poppins-500;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.36px;
    display: block;
    position: absolute;
    right: 27px;
    top: 27px;
  }

  &__video-name {
    color: #FFF;
    @extend %poppins-500;
    font-size: 22px;
    line-height: normal;
    letter-spacing: 0.44px;
    align-self: flex-end;
    display: block;
  }

  &__comments {
    display: none;

    &--active {
      display: block;
    }
  }

  &__comments-item {
    width: 100%;
    padding: 22px 24px;
    width: 100%;
    border-radius: 32px 32px 32px 0px;
    background-color: #FFF;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10), 0px 1px 6px 0px rgba(0, 0, 0, 0.20);

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__comments-info {
    padding-left: 70px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 50px;
      height: 50px;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background-image: url('../images/user-avatar/user-avatar1.png');
    }
  }

  &__comments-username {
    @extend %poppins-500;
    color: #323232;
    font-size: 22px;
    line-height: normal;
    letter-spacing: 0.44px;
  }

  &__comments-text {
    color: #807D7E;
    @extend %poppins-400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.32px;
  }
}

.similar-product {
  padding-bottom: 100px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
    column-gap: 37px;
  }

  &__article {
    max-width: 282px;
    width: 100%;
  }

  &__img {
    margin-bottom: 0;
  }

  &__list-title {
    font-size: 14px;
  }

  &__content {
    padding-top: 30px;
  }
}

.error {
  text-align: center;
  padding: 82px 0 100px 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    max-width: 459px;
  }

  &__img {
    display: inline;
  }

  &__title {
    color: #000;
    font-size: 34px;
    @extend %poppins-600;
    margin-bottom: 10px;
    line-height: normal;
  }

  &__text {
    color: #807D7E;
    @extend %poppins-500;
    font-size: 16px;
    line-height: 124.7%;
    letter-spacing: 0.32px;
    margin-bottom: 42px;
  }

  &__link {
    color: #FFF;
    font-size: 18px;
    @extend %poppins-600;
    line-height: normal;
    padding: 12px 40px;
    background-color: #8A33FD;
    border-radius: 8px;
  }
}

.header-singup {
  padding: 32px 0;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__label {
    position: relative;
    width: 185px;

    & svg {
      width: 20px;
      height: 20px;
      fill: #807D7E;
      stroke-width: 2px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 51px;
    }
  }

  &__input {
    color: #807D7E;
    text-align: center;
    @extend %poppins-400;
    font-size: 18px;
    line-height: normal;
    border-radius: 8px;
    background-color: #F6F6F6;
    padding: 12px 48px 12px 80px;
    border: none;
    width: 255px;

    &::placeholder {
      color: #807D7E;
      @extend %poppins-400;
      font-size: 18px;
      line-height: normal;
    }
  }

  &__link {
    color: #8A33FD;
    @extend %poppins-500;
    padding: 12px 48px;
    font-size: 18px;
    line-height: normal;
    border-radius: 8px;
    border: 1px solid #3C4242;

    &--active {
      background-color: #8A33FD;
      color: #FFF;
      border: 1px solid transparent;
    }

    &:not(:last-child) {
      margin-right: 29px;
    }
  }

  &__lang {

    .jq-selectbox__select {
      height: 24px;
      padding: 0 36px 0 10px;
      border: 1px solid transparent;
      border-bottom-color: transparent;
      border-radius: none;
      background: transparent;
      box-shadow: none;
      color: #333;
      text-shadow: none;
      @extend %poppins-400;
      font-size: 18px;
      line-height: normal;
      width: 254px;

      .focused {
        border: none;
      }
    }

    .jq-selectbox__trigger {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0px;
      border-left: 1px solid transparent;
    }

    .jq-selectbox__trigger-arrow {
      position: absolute;
      top: 12px;
      right: 12px;
      width: 0;
      height: 0;
      border-top: 5px solid #333;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
    }

    .jq-selectbox__dropdown {
      margin-top: 13px;
    }
  }


}

.singup {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: left;
  padding: 60px 0 42px 0;

  &__content {
    max-width: 567px;
    margin-left: auto;
  }

  &__title {
    color: #333;
    font-size: 34px;
    @extend %poppins-600;
    line-height: normal;
    margin-bottom: 10px;
  }

  &__subtitle {
    color: rgba(102, 102, 102, 0.80);
    font-size: 16px;
    @extend %poppins-500;
    line-height: normal;
    display: block;
    margin-bottom: 50px;
  }

  &__btn-box {
    margin-bottom: 50px;
  }

  &__btn {
    display: block;
    width: 100%;
    padding: 16px 20px;
    border-radius: 8px;
    border: 1px solid #3C4242;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__btn-text {
    padding-left: 32px;
    position: relative;
    color: #8A33FD;
    text-align: center;
    @extend %poppins-500;
    font-size: 22px;
    line-height: normal;

    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }

    &--google::after {
      background-image: url('../images/icons/google.svg');
    }

    &--twitter::after {
      background-image: url('../images/icons/twitter-form.svg');
    }
  }

  &__form-label {
    height: 127px;
    display: flex;
    flex-direction: column;
    margin-bottom: 33px;
  }

  &__form-name {
    color: #3C4242;
    @extend %poppins-400;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.36px;
    margin-bottom: 10px;
    display: block;
  }

  &__form-input {
    border-radius: 8px;
    border: 1px solid #3C4242;
    width: 100%;
    padding: 18px 20px;
    margin-bottom: 10px;

    &::placeholder {
      color: #807D7E;
      @extend %poppins-400;
      font-size: 14px;
      line-height: normal;
    }
  }

  &__form-error {
    color: #EE1D52;
    @extend %poppins-400;
    font-size: 16px;
    line-height: normal;
  }

  &__form-text {
    color: #807D7E;
    font-size: 16px;
    @extend %poppins-500;
    line-height: normal;
  }

  &__form-btn {
    border-radius: 8px;
    background: #8A33FD;
    padding: 16px 50px;
    color: #FFF;
    @extend %poppins-500;
    font-size: 18px;
    line-height: normal;
    margin-top: 40px;
  }

  &__form-check {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    width: 430px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 18px;
    }
  }

  &__form-box {
    position: relative;
  }

  &__form-check-text {
    color: #807D7E;
    @extend %poppins-500;
    font-size: 18px;
    line-height: normal;
    text-decoration-line: underline;
    padding-left: 28px;
    display: block;

  }

  &__form-check-input {
    clip: rect(0 0 0 0);
    overflow: hidden;
    width: 1px;
    height: 1px;
    position: absolute;
    left: 4px;
    margin-right: 12px;

    &:checked+.singup__form-check-checkbox {
      background-image: url('../images/icons/check.svg');
    }
  }

  &__form-check-checkbox {
    border: 1px solid #3C4242;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    position: absolute;
    margin-top: -8px;
  }
}

.login {
  background-position: left;
  background-repeat: no-repeat;
  background-size: 695px 956px;
  min-height: 100vh;
  padding: 60px 0 70px 0;

  &__content {
    max-width: 568px;
    margin-left: auto;
  }

  &__title {
    color: #333;
    @extend %poppins-600;
    font-size: 34px;
    line-height: normal;
    letter-spacing: 0.68px;
    margin-bottom: 50px;
  }

  &__btn {
    display: block;
    width: 100%;
    padding: 16px 20px;
    border-radius: 8px;
    border: 1px solid #3C4242;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__btn-text {
    padding-left: 32px;
    position: relative;
    color: #8A33FD;
    text-align: center;
    @extend %poppins-500;
    font-size: 22px;
    line-height: normal;

    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }

    &--google::after {
      background-image: url('../images/icons/google.svg');
    }

    &--twitter::after {
      background-image: url('../images/icons/twitter-form.svg');
    }
  }

  &__btn-box {
    margin-bottom: 50px;
  }

  &__border {
    text-transform: uppercase;
    color: #666;
    @extend %poppins-400;
    font-size: 18px;
    line-height: normal;
    text-align: center;
    display: block;
    position: relative;
    margin-bottom: 50px;

    &::after,
    &::before {
      content: '';
      position: absolute;
      background-color: rgba(102, 102, 102, 0.25);
      width: 248px;
      height: 2px;
      top: 50%;
      transform: translateY(-50%);
    }

    &::after {
      left: 0;
    }

    &::before {
      right: 0;
    }
  }

  &__form-label {
    height: 124px;
    display: flex;
    flex-direction: column;

    &:first-child {
      margin-bottom: 30px;
    }
  }

  &__form-text {
    color: #3C4242;
    @extend %poppins-400;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.36px;
    display: block;
    margin-bottom: 10px;
  }

  &__form-input {
    border-radius: 8px;
    border: 1px solid #3C4242;
    padding: 18px 20px;
    width: 100%;

    &:first-child {
      margin-bottom: 33px;
    }
  }

  &__form-link {
    color: #3C4242;
    font-size: 16px;
    line-height: normal;
    text-decoration-line: underline;
    align-self: end;
    margin-top: 10px;
  }

  &__form-btn {
    color: #FFF;
    @extend %poppins-500;
    font-size: 18px;
    line-height: normal;
    padding: 16px 57px;
    background-color: #8A33FD;
    border-radius: 8px;
    margin-top: 60px;
    margin-bottom: 10px;
  }

  &__form-singup {
    color: #3C4242;
    font-size: 16px;
    @extend %poppins-400;
    line-height: normal;
    display: block;

    & a {
      text-decoration-line: underline;
    }
  }
}