@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  background-color: #fff;
  border-bottom: 1px solid #BEBCBD;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 0;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__list-item:not(:last-child) {
    margin-right: 40px;
  }

  &__list-link {
    color: #807D7E;
    @extend %poppins-500;
    font-size: 18px;
    line-height: normal;
  }

  &__form-label {
    position: relative;

    & svg {
      width: 20px;
      height: 20px;
      fill: #807D7E;
      stroke-width: 2px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
    }
  }

  &__form-input {
    padding: 12px 20px 12px 52px;
    border-radius: 8px;
    background-color: #F6F6F6;
    border: none;
    color: #000;
    @extend %poppins-500;
    font-size: 16px;
    line-height: normal;
    width: 267px;

    &::placeholder {
      color: #807D7E;
      @extend %poppins-500;
      font-size: 16px;
      line-height: normal;
    }
  }

  &__user-nav {
    display: flex;
  }

  &__user-btn {
    padding: 12px;
    border-radius: 8px;
    background: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
      width: 20px;
      height: 20px;
      stroke: #807D7E;
      fill: transparent;
      stroke-width: 1.5px;
    }

    &:not(:last-child) {
      margin-right: 12px;
    }
  }
}

.promo {
  padding-bottom: 130px;

  &__slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__inner {
    padding: 130px 106px;
  }

  &__content {
    max-width: 439px;
  }

  &__subtitle {
    color: #FFF;
    font-size: 32px;
    @extend %poppins-500;
    line-height: 37.771px;
    letter-spacing: 0.157px;
    text-transform: capitalize;
    margin-bottom: 40px;
    display: inline-block;
  }

  &__title {
    color: #FFF;
    font-size: 76px;
    @extend %poppins-800;
    line-height: 93.622px;
    letter-spacing: 0.315px;
    margin-bottom: 40px;
  }

  &__tags {
    color: #FFF;
    font-size: 32px;
    @extend %poppins-500;
    line-height: 47.214px;
    letter-spacing: 0.315px;
    margin-bottom: 40px;
    display: inline-block;
  }

  &__link {
    color: #3C4242;
    font-size: 24px;
    @extend %poppins-700;
    line-height: normal;
    padding: 16px 72px;
    border-radius: 8px;
    background-color: #FFF;
    display: inline-block;
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;

    & svg {
      width: 24px;
      height: 45px;
      fill: #fff;
    }
  }

  .slick-prev {
    transform: scale(-1, 1);
    left: 40px;
  }

  .slick-next {
    right: 40px;
  }

  .slick-dots {
    display: flex;
    position: absolute;
    bottom: 73px;
    left: 50%;
    transform: translateX(-50%);

    & li {
      line-height: 0;

      &:not(:last-child) {
        margin-right: 1px;
      }
    }

    & button {
      padding: 0;
      width: 62px;
      height: 10px;
      background-color: #fff;
      opacity: 0.5;
      font-size: 0;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
      transition: opacity 0.3s;
    }

    #slick-slide-control01,
    #slick-slide-control03 {
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .slick-active button {
      opacity: 1;
    }
  }
}

.preview {
  padding-bottom: 100px;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list-item {
    background-repeat: no-repeat;
    background-size: 605px 355px;
    background-position: center;
    max-width: 605px;
    width: 100%;
    padding: 67px 28px 80px 28px;
    border-radius: 12px;
  }

  &__name {
    color: #FFF;
    @extend %poppins-800;
    font-size: 18px;
    line-height: 30.067px;
    letter-spacing: 0.251px;
    display: inline-block;
    margin-bottom: 24px;
  }

  &__title {
    color: #FFF;
    @extend %poppins-800;
    font-size: 34px;
    line-height: 45.1px;
    margin-bottom: 10px;
    max-width: 246px;
  }

  &__discount {
    color: #FFF;
    @extend %poppins-500;
    font-size: 16px;
    line-height: 25.056px;
    letter-spacing: 0.251px;
    margin-bottom: 41px;
    display: block;
  }

  &__link {
    color: #FFF;
    @extend %poppins-800;
    font-size: 20px;
    line-height: 30.132px;
    text-decoration-line: underline;
    display: inline-block;
  }
}

.arrival {
  padding-bottom: 95px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.commercial {
  padding-bottom: 100px;

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }

  &__list-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 400px;
    width: 100%;
    border-radius: 12px;
    padding: 64px 20px 64px 20px;

    &:nth-child(1) {
      grid-column: span 2;
    }

    &:nth-child(2) {
      grid-column: span 2;
      position: relative;
      padding: 102px 25px 41px 25px;

      &::after {
        content: 'Limited Stock';
        position: absolute;
        padding: 8px 16px;
        color: #FFF;
        font-size: 12px;
        @extend %poppins-700;
        line-height: normal;
        border-radius: 4px;
        background-color: #3C4242;
        top: 25px;
        right: 25px;
      }

      .commercial__list-content {
        margin-left: auto;
        max-width: 153px;
      }

      .commercial__list-title,
      .commercial__list-text,
      .commercial__list-discount,
      .commercial__list-link {
        color: #3C4242;
      }

      .commercial__list-link {
        border: 1px solid #3C4242;
      }

      .commercial__list-discount::after {
        background-image: url('../images/icons/arrow-card-black.svg');
      }
    }

    &:nth-child(3) {
      grid-column: span 2;
      padding: 64px 17px;

      .commercial__list-content {
        margin-left: auto;
        max-width: 153px;
      }
    }

    &:nth-child(4) {
      grid-column: span 3;
      max-width: 610px;
      padding: 45px 75px 45px 30px;

      .commercial__list-content {
        margin-left: auto;
        max-width: 153px;
      }

      .commercial__list-title,
      .commercial__list-text,
      .commercial__list-discount,
      .commercial__list-link {
        color: #3C4242;
      }

      .commercial__list-link {
        border: 1px solid #3C4242;
      }

      .commercial__list-discount::after {
        background-image: url('../images/icons/arrow-card-black.svg');
      }
    }

    &:nth-child(5) {
      grid-column: span 3;
      max-width: 610px;
      padding: 45px 120px 45px 30px;

      .commercial__list-content {
        margin-left: auto;
        max-width: 153px;
      }

      .commercial__list-title,
      .commercial__list-text,
      .commercial__list-discount,
      .commercial__list-link {
        color: #3C4242;
      }

      .commercial__list-link {
        border: 1px solid #3C4242;
      }

      .commercial__list-discount::after {
        background-image: url('../images/icons/arrow-card-black.svg');
      }
    }
  }

  &__list-title {
    color: #FFF;
    font-size: 28px;
    @extend %poppins-600;
    line-height: 38.431px;
    letter-spacing: 0.56px;
    max-width: 134px;
    margin-bottom: 10px;
  }

  &__list-text {
    color: #FFF;
    @extend %poppins-600;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 10px;
  }

  &__list-discount {
    color: #FFF;
    @extend %poppins-700;
    font-size: 18px;
    line-height: normal;
    display: block;
    padding-bottom: 52px;
    margin-bottom: 40px;
    position: relative;
    max-width: 130px;

    &::after {
      content: '';
      width: 24px;
      height: 26px;
      position: absolute;
      background-image: url('../images/icons/arrow-card.svg');
      background-position: center;
      background-repeat: no-repeat;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__list-link {
    color: #FFF;
    font-size: 12px;
    @extend %poppins-500;
    line-height: normal;
    border-radius: 4px;
    border: 1px solid #FFF;
    padding: 6px 30px;
    display: inline-block;
  }
}

.adv {
  padding-bottom: 100px;

  &__inner {
    display: flex;
  }

  &__item {
    padding: 175px 75px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 613px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }

  &__content {
    max-width: 466px;
  }

  &__title {
    color: #FFF;
    @extend %poppins-800;
    font-size: 34px;
    line-height: 50px;
    letter-spacing: 0.208px;
    margin-bottom: 30px;
  }

  &__text {
    color: #FFF;
    font-size: 20px;
    @extend %poppins-300;
    line-height: normal;
    letter-spacing: 1px;
    margin-bottom: 50px;
  }

  &__link {
    padding: 12px 44px;
    border-radius: 8px;
    background-color: #FFF;
    color: #3C4242;
    font-size: 18px;
    @extend %poppins-600;
    line-height: normal;
    display: inline-block;
  }

  &__img {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}

.men-categories {
  padding-bottom: 100px;

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
  }
}

.women-categories {
  padding-bottom: 100px;

  &__list {
    display: flex;
    align-items: center;
    column-gap: 50px;
  }
}

.brands {
  padding-bottom: 100px;

  &__inner {
    text-align: center;
    border-radius: 12px;
    border: 1px solid #323232;
    background-color: #3C4242;
    padding: 44px 0;
  }

  &__title {
    color: #FFF;
    @extend %poppins-800;
    font-size: 50px;
    line-height: normal;
    margin-bottom: 26px;
  }

  &__discount {
    color: #FFF;
    @extend %poppins-400;
    font-size: 22px;
    line-height: normal;
    margin-bottom: 68px;
    display: block;

    & span {
      color: #FBD103;
      @extend %poppins-700;
      font-size: 22px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list-item {
    border-radius: 12px;
    background-color: #FFF;

    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__list-img {
    padding: 14px 15px;
    width: 149px;
    height: 80px;
  }
}

.popular {
  padding-bottom: 100px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.reviews {
  padding-bottom: 100px;

  &__list {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
  }

  &__list-item {
    border-radius: 10px;
    border: 1.8px solid #BEBCBD;
    padding: 23px;
    max-width: 397px;
  }

  &__user {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__user-name {
    color: #3C4242;
    @extend %poppins-500;
    font-size: 22px;
    line-height: normal;
    letter-spacing: 0.44px;
    margin-bottom: 20px;
    display: inline-block;
  }

  &__list-text {
    @extend %poppins-400;
    color: #807D7E;
    text-overflow: ellipsis;
    font-size: 14px;
    letter-spacing: 0.28px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;

    & li {
      line-height: 0;
      font-size: 0;
      transition: background-color 0.3s ease-in-out;
      border-radius: 50%;

      &:not(:last-child) {
        margin-right: 4px;
      }
    }

    & button {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: rgba(190, 188, 189, 0.30);
    }

    .slick-active {
      background-color: #3C4242;
      border-radius: 50%;
    }
  }
}

.footer {
  background-color: #3C4242;

  &__inner {
    padding: 59px 0;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 76px;
  }

  &__nav-list:not(:last-child) {
    margin-right: 80px;
  }

  &__nav-title {
    color: #F6F6F6;
    @extend %poppins-700;
    font-size: 29px;
    line-height: 217%;
  }

  &__nav-link {
    color: #F6F6F6;
    @extend %poppins-500;
    font-size: 18px;
    line-height: 217%;
  }

  &__nav-address {
    color: #F6F6F6;
    @extend %poppins-500;
    font-size: 18px;
    line-height: 217%;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 41px;
  }

  &__socials-list {
    display: flex;
    align-items: center;
  }

  &__socials-item:not(:last-child) {
    margin-right: 10px;
  }

  &__socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 11px;
    background-color: #F6F6F6;
    width: 37px;
    height: 37px;

    & svg {
      width: 16px;
      height: 16px;
      fill: #2A2F2F;
    }
  }

  &__app-title {
    color: #F6F6F6;
    @extend %poppins-700;
    font-size: 29px;
    line-height: 217%;
    margin-bottom: 20px;
    display: inline-block;
  }

  &__app-links {
    display: flex;
  }

  &__app-link:not(:last-child) {
    margin-right: 21px;
  }

  &__slide-toggle {
    border-top: 1px solid #BEBCBD;
    border-bottom: 1px solid #BEBCBD;
    margin-bottom: 37px;
  }

  &__categories {
    color: #F6F6F6;
    @extend %poppins-700;
    font-size: 29px;
    line-height: 200%;
    padding: 30px 0;
    display: block;
    position: relative;

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 2px;
      height: 16px;
      background-color: #F6F6F6;
      top: 47%;
      transition: transform 0.3s ease-in-out;
    }

    &::after {
      transform: rotate(-45deg);
      right: 42px;
    }

    &::before {
      transform: rotate(45deg);
      right: 32px;
    }

    &--active {
      border-bottom: transparent;
      margin-bottom: 0;
    }

    &--active::before {
      transform: rotate(135deg);
    }

    &--active::after {
      transform: rotate(-135deg);
    }
  }

  &__categories-list {
    display: none;
    padding-bottom: 30px;
  }

  &__categories-link {
    color: #F6F6F6;
    @extend %poppins-500;
    font-size: 18px;
    line-height: 217%;
  }

  &__copyright {
    color: #FFF;
    @extend %poppins-700;
    font-size: 18px;
    line-height: 200%;
    text-align: center;
  }
}

.women-product {
  padding-bottom: 100px;

  &__inner {
    display: flex;
  }

}

.filters {
  border-radius: 0px 0px 2px 2px;
  border-right: 1px solid #BEBCBD;
  border-bottom: 1px solid #BEBCBD;
  border-left: 1px solid #BEBCBD;
  max-width: 295px;
  width: 100%;
  margin-right: 50px;

  &__name {
    color: #807D7E;
    @extend %poppins-600;
    font-size: 22px;
    line-height: normal;
    letter-spacing: 0.44px;
    padding: 20px 30px;
    border-top: 1px solid #BEBCBD;
    border-bottom: 1px solid #BEBCBD;
    position: relative;

    &--first {
      border-top: 0px solid #BEBCBD;
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 2px;
      height: 10px;
      background-color: #807D7E;
      top: 41%;
      transition: transform 0.3s ease-in-out;
    }

    &::after {
      transform: rotate(45deg);
      right: 35px;
    }

    &::before {
      transform: rotate(-45deg);
      right: 42px;

    }

    &--active::before {
      transform: rotate(-135deg);
    }

    &--active::after {
      transform: rotate(135deg);
    }

  }

  &__list {
    padding: 40px 34px;
  }

  &__list-item {
    color: #8A8989;
    @extend %poppins-600;
    font-size: 16px;
    line-height: normal;

    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
}

.filter-price {

  &__form {
    padding: 40px 35px;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__pref {
    border-radius: 8px;
    border: 1px solid #BEBCBD;
    padding: 7px 25px;
    color: #3C4242;
    @extend %poppins-500;
    font-size: 16px;
    line-height: normal;
    display: block;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .irs--flat .irs-handle>i:first-child {
    position: absolute;
    display: block;
    top: -3px;
    left: 50%;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-left: -1px;
    background-color: #8A33FD;
  }


  .irs-line {
    border-radius: 4px;
    opacity: 0.6;
    background: #807D7E;
    width: 225px;
    height: 3px;
  }

  .irs-bar {
    border-radius: 4px;
    background: #8A33FD;
    height: 3px;
  }

  .irs {
    margin-bottom: 20px;
  }

  .irs-min,
  .irs-max,
  .irs-from,
  .irs-to {
    display: none;
  }

  .irs-single {
    display: none;
  }
}

.filter-colors {

  &__form {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    padding: 40px 35px;
  }

  &__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 55px;
  }


  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;

    &:checked+.filter-colors__checkbox::before {
      display: block;
    }
  }

  &__checkbox {
    display: block;
    width: 37px;
    height: 37px;
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    &::before {
      content: '';
      position: absolute;
      width: 45px;
      height: 45px;
      border-radius: 12px;
      border: 1px solid #000;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: none;
    }

    &--purple {
      background-color: #8434E1;
    }

    &--black {
      background-color: #000;
    }

    &--red {
      background-color: #F35528;
    }

    &--orange {
      background-color: #F16F2B;
    }

    &--navy {
      background-color: #345EFF;
      ;
    }

    &--white {
      background-color: #FFF;
      border: 1px solid #F4F1F1;
    }

    &--broom {
      background-color: #D67E3B;
    }

    &--green {
      background-color: #48BC4E;
    }

    &--yellow {
      background-color: #FDC761;
    }

    &--grey {
      background-color: #E4E5E8;
    }

    &--pink {
      background-color: #E08D9D;
    }

    &--blue {
      background-color: #3FDEFF;
    }
  }

  &__color {
    color: #8A8989;
    @extend %poppins-600;
    font-size: 14px;
    line-height: normal;
  }
}

.filters-size {

  &__form {
    padding: 40px 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;

    &:checked+.filters-size__checkbox {
      background-color: #3C4242;
      color: #fff;
    }
  }

  &__checkbox {
    color: #3C4242;
    @extend %poppins-600;
    font-size: 14px;
    line-height: normal;
    width: 61px;
    padding: 7px 17px;
    border-radius: 8px;
    border: 1px solid #BEBCBD;
    display: block;
    text-align: center;
  }
}

.filters-style {

  &__list {
    padding: 40px 35px;
  }

  &__item {
    color: #8A8989;
    @extend %poppins-600;
    font-size: 16px;
    line-height: normal;

    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
}

.shop-card {
  width: 100%;
  padding-top: 50px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  &__title {
    color: #3F4646;
    @extend %poppins-600;
    font-size: 22px;
    line-height: normal;
  }

  &__button {
    color: #3F4646;
    @extend %poppins-600;
    font-size: 22px;
    line-height: normal;

    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__btns {
    display: flex;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
  }
}

.product-content {
  padding-bottom: 100px;

  &__text {
    color: #807D7E;
    @extend %poppins-400;
    font-size: 20px;
    line-height: 33.5px;
    letter-spacing: 0.4px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    color: #807D7E;
    @extend %poppins-600;
    font-size: 20px;
    line-height: 33.5px;
    letter-spacing: 0.4px;
    margin-bottom: 25px;
  }

  &__link {
    color: #807D7E;
    font-size: 20px;
    @extend %poppins-600;
    line-height: 33.5px;
    letter-spacing: 0.4px;
  }
}

.cloth-price {
  padding-bottom: 100px;

  &__table {
    padding: 25px 66px 50px 84px;
    border-radius: 12px;
    background-color: #F6F6F6;
  }

  &__table-title {
    width: 100%;
    text-align: left;
    color: #3C4242;
    @extend %poppins-600;
    font-size: 22px;
    line-height: 33.5px;
    letter-spacing: 0.48px;
    padding: 25px 15px 25px 15px;
    border-bottom: 1px solid #BEBCBD;

    & span {
      display: block;
      width: 121px;
    }

    &:nth-child(2) {
      padding-left: 30px;
      border-left: 1px solid #BEBCBD;
    }
  }

  &__box {
    display: block;
    margin-bottom: 50px;
  }

  &__tr {
    transition: background-color 0.3s ease-in-out;


    &:not(:first-child):hover {
      background-color: #FFFAFA;
    }
  }


  &__td {
    padding: 25px 15px;
    color: #807D7E;
    @extend %poppins-400;
    font-size: 24px;
    line-height: 16px;
    letter-spacing: 0.48px;
  }

  &__cost {
    border-left: 1px solid #BEBCBD;
    padding: 25px 15px;
    color: #807D7E;
    @extend %poppins-400;
    font-size: 24px;
    line-height: 16px;
    letter-spacing: 0.48px;
    text-align: center;
  }
}

.product {
  background-color: #F6F6F6;
}

.product-item {
  display: flex;

  &__slide {
    width: 630px;
    margin-right: 74px;
  }
}

.product-slide {
  display: flex;

  &__wrapper {
    align-self: center;
  }

  &__thumb {
    width: 68px;
    margin-right: 37px;
  }

  &__thumb-item {
    width: 68px;
    height: 68px;
    margin-bottom: 23px;

    & img {
      width: 68px;
      height: 68px;
      object-fit: cover;
    }
  }

  &__big {
    width: 520px;

    & img {
      width: 520px;
      height: 785px;
      object-fit: cover;
    }
  }

  &__arrows {
    display: flex;
    flex-direction: column;
  }

  .slick-arrow {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    align-self: center;
    margin-right: 38px;
    transition: background-color 0.3s ease-in-out;

    & svg {
      width: 20px;
      height: 10px;
      transition: fill 0.3s ease-in-out;
    }

    &:focus {
      background-color: #3C4242; 
    }

    &:focus svg {
      fill: #fff;
    }
  }

  .slick-next{
    transform: scale(1, -1);
    margin-top: 12px;
  }

}